<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">CLICK X</a>
        </div>
        <!-- Top Menu Items -->
        <ul class="nav navbar-left top-nav">
          <li>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>Adept Construction:4.123@clickx.io  <span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
        </li>
        </ul>
        <ul class="nav navbar-right top-nav">
            <li>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-bell" aria-hidden="true"></span></a>
            </li>
            <li>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a>
            </li>
            <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Soloman Thimothy</a>
            </li>
        </ul>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li class="active">
                    <a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"> Dashboard</a>
                </li>
                <li>
                    <a href="index.html"><span class="glyphicon glyphicon-search" aria-hidden="true"> SEO</a>
                </li>
                <li>
                    <a href="index.html"><span class="glyphicon glyphicon-globe" aria-hidden="true"> Social</a>
                </li>
                <li>
                    <a href="index.html"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"> Local</a>
                </li>
                <li>
                    <a href="index.html"><span class="glyphicon glyphicon-picture" aria-hidden="true"> Ads</a>
                </li>
                <li>
                    <a href="index.html"><span class="glyphicon glyphicon-folder-open" aria-hidden="true"> Reports</a>
                </li>
                <li>
                    <a href="index.html"><span class="glyphicon glyphicon-ice-lolly-tasted" aria-hidden="true"> Campaign Intelligence</a>
                </li>
                <li>
                    <a href="task.html"><span class="glyphicon glyphicon-ok" aria-hidden="true"> Tasks</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>

    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Dashboad</h1>
                    <small>Statistics Overview</small>
                </div>
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <span class="glyphicon glyphicon-sound-5-1" aria-hidden="true">Rankings.</span>
                                </div>
                                <div class="col-xs-12 text-center">
                                    <div>Google</div>
                                    <div>24</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <span class="glyphicon glyphicon-sound-5-1" aria-hidden="true">Backlinks.</span>
                                </div>
                                <div class="col-xs-12 text-center">
                                    <div>Google</div>
                                    <div>24</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <span class="glyphicon glyphicon-sound-5-1" aria-hidden="true">Google Analytics.</span>
                                </div>
                                <div class="col-xs-12 text-center">
                                    <div>Google</div>
                                    <div>24</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <span class="glyphicon glyphicon-sound-5-1" aria-hidden="true">Google Search Console.</span>
                                </div>
                                <div class="col-xs-12 text-center">
                                    <div>Google</div>
                                    <div>24</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <span class="glyphicon glyphicon-sound-5-1" aria-hidden="true">Google Adwords.</span>
                                </div>
                                <div class="col-xs-12 text-center">
                                    <div>Google</div>
                                    <div>24</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.row -->
          <!--bar chart-->
        <div class="row">
          <div class="col-md-12">
           <canvas id="myChart" width="300" height="70"></canvas>
          </div>
      </div><!--row-->


        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
