<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">CLICK X</a>
        </div>
        <!-- Top Menu Items -->
        <ul class="nav navbar-left top-nav">
          <li>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>Adept Construction:4.123@clickx.io</a>
        </li>
        </ul>
        <ul class="nav navbar-right top-nav">
            <li>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-bell" aria-hidden="true"></span></a>
            </li>
            <li>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a>
            </li>
            <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Soloman Thimothy</a>
            </li>
        </ul>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li class="active">
                    <a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"> Dashboard</a>
                </li>
                <li>
                    <a href="index.html"><span class="glyphicon glyphicon-search" aria-hidden="true"> SEO</a>
                </li>
                <li>
                    <a href="index.html"><span class="glyphicon glyphicon-globe" aria-hidden="true"> Social</a>
                </li>
                <li>
                    <a href="index.html"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"> Local</a>
                </li>
                <li>
                    <a href="index.html"><span class="glyphicon glyphicon-picture" aria-hidden="true"> Ads</a>
                </li>
                <li>
                    <a href="index.html"><span class="glyphicon glyphicon-folder-open" aria-hidden="true"> Reports</a>
                </li>
                <li>
                    <a href="index.html"><span class="glyphicon glyphicon-ice-lolly-tasted" aria-hidden="true"> Campaign Intelligence</a>
                </li>
                <li>
                    <a href="index.html"><span class="glyphicon glyphicon-ok" aria-hidden="true"> Tasks</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>

    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                  <div class="row headtsk">
                    <div class="col-lg-6">
                    <h3><span class="glyphicon glyphicon-ok" aria-hidden="true">ClickxTasks</h3></div>
                    <div class="col-lg-6">
                    <button class="btn btn-success taskbtn"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"> Back</button></div>
                  </div>
                </div>
            </div><!--row-->
            <div class="row">
              <div class="col-lg-12 tasklist">
              <div class="row">
              <div class="col-lg-6">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span><h4>Landing page.</h4>
                <p>Modern versions of assistive technologies will announce CSS</p>
              </div>
              <div class="col-lg-6 tasklist">
                 <img src = "images/p1.jpg" alt = "Generic placeholder thumbnail" class="img-circle img-responsive">
              </div>
              </div>
              <hr>
            </div>

            <div class="col-lg-12 tasklist">
            <div class="row">
            <div class="col-lg-6">
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span><h4>Landing page.</h4>
              <p>Modern versions of assistive technologies will announce CSS</p>
            </div>
            <div class="col-lg-6 tasklist">
               <img src = "images/p2.jpg" alt = "Generic placeholder thumbnail" class="img-circle img-responsive">
            </div>
            </div>
              <hr>
          </div>

          <div class="col-lg-12 tasklist">
          <div class="row">
          <div class="col-lg-6">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span><h4>Landing page.</h4>
            <p>Modern versions of assistive technologies will announce CSS</p>
          </div>
          <div class="col-lg-6 tasklist">
             <img src = "images/p3.jpg" alt = "Generic placeholder thumbnail" class="img-circle img-responsive">
          </div>
          </div>
          <hr>
        </div>

        <div class="col-lg-12 tasklist">
        <div class="row">
        <div class="col-lg-6">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span><h4>Landing page.</h4>
          <p>Modern versions of assistive technologies will announce CSS</p>
        </div>
        <div class="col-lg-6 tasklist">
           <img src = "images/p4.jpg" alt = "Generic placeholder thumbnail" class="img-circle img-responsive">
        </div>
        </div>
        <hr>
      </div>
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->
